<!DOCTYPE html>
<html ng-app="photoGallery">
    <head>
        <title>JZ Huang</title>
        <link href="css/bootstrap.min.css" rel="stylesheet"></link>
        <link href="css/font-awesome.min.css" rel="stylesheet"></link>
        <link href="css/gogogo.css" rel="stylesheet"></link>
        <link href='http://fonts.googleapis.com/css?family=Oswald|PT+Sans+Narrow:700|Yanone+Kaffeesatz:300|PT+Serif:700|Pacifico|Satisfy|Tangerine|Patua+One|Roboto+Condensed' rel='stylesheet' type='text/css'>
        <script src="js/angular.min.js"></script>
        <script src="js/Index_app.js"></script>
        <script src="js/album.js"></script>
    </head>
    
    <body ng-controller="GellaryController as gellaryCtrl">
        <div class="container" ng-controller="panelController as panel">
<!--navbar-->
            <nav class="navbar navbar-inverse navbar-fixed-top" >
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" ng-click="panel.selectTab(0)" ng-class="{ active:panel.isSelected(0) }">JinZe Huang</a>
                    </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active:panel.isSelected(1)}" class="">
                            <a ng-click="panel.selectTab(1)">Gellary</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(2)}">
                            <a ng-click="panel.selectTab(2)">Blog</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(3)}">
                            <a ng-click="panel.selectTab(3)">About</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(4)}">
                            <a ng-click="panel.selectTab(4)">Message</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div style="height:25px;background-color:#fff;">
            </div>
<!--navbar-->

            <div class="container" role="main">
                <div class="panel" ng-show="panel.isSelected(0)" ng-controller="change_photo">
                    <img ng-src="{{path}}" class="img-rounded img-responsive"></img>
                    <li>
                        <h4>
                            <span class="label label-info" ng-repeat="labels in _labels">
                                {{labels}}
                            </span>
                        </h4>
                    </li>
                </div>
                <!---->

                <!-- Gellary -->
                <div class="panel" ng-show="panel.isSelected(1)">
                    <div>
                        <gellary></gellary>
                   </div>
                </div>
                <!---->

                <!-- Blog -->
                <div class="panel" ng-show="panel.isSelected(2)">
                    <blog></blog>
                </div>
                <!---->

                <!-- About -->
                <div class="panel" ng-show="panel.isSelected(3)">
                    <about></about>
                </div>
                <!---->

                <!-- Contact -->
                <div class="panel" ng-show="panel.isSelected(4)">
                    <Contact></Contact>
                </div>
                <!---->

                <div>
                    <p class="pull-right author"> Author:JZ</p>
                </div>
            </div>
        </div>
    </body>
</html>
