<!DOCTYPE html>
<html ng-app="photoGallery">
    <head>
        <title>JZ Huang</title>
        <link   href="css/bootstrap.min.css" rel="stylesheet"></link>
        <link   href="css/font-awesome.min.css" rel="stylesheet"></link>
        <script src="js/angular.min.js"></script>
        <script src="js/Index_app.js"></script>
    </head>
    
    <body ng-controller="GellaryController as gellaryCtrl">
        <div class="container" ng-controller="panelController as panel">
<!--navbar-->
            <nav class="navbar navbar-inverse navbar-fixed-top" >
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" ng-click="panel.selectTab(0)" ng-class="{ active:panel.isSelected(0) }">JinZe Huang</a>
                    </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active:panel.isSelected(1)}">
                            <a ng-click="panel.selectTab(1)">Gellary</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(2)}">
                            <a ng-click="panel.selectTab(2)">Blog</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(3)}">
                            <a ng-click="panel.selectTab(3)">About</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(4)}">
                            <a ng-click="panel.selectTab(4)">Contact</a>
                        </li>

                    </ul>
                </div>
                </div>
            </nav>
<!--navbar-->

            <div class="container theme-showcase" role="main">
                <div class="jumbotron">
                    <h1>Under Construction</h1>
                    <p> This is for demo</p>
                </div>
                <!-- Index -->
                <div class="panel" ng-show="panel.isSelected(0)">
                    <img ng-src="{{gellaryCtrl.photos[0].images[0].path}}" class="img-rounded img-responsive"></img>
                    <li>
                        <h4>
                            <span class="label label-info" ng-show="gellaryCtrl.photos[0].images[0].labels.length" ng-repeat="labels in gellaryCtrl.photos[0].images[0].labels">
                                {{ labels }}
                            </span>
                        </h4>
                    </li>
                </div>
                <!---->

                <!-- Gellary -->
                <div class="panel" ng-show="panel.isSelected(1)">
                   <div>
                       <gellary></gellary>
                   </div>
                </div>
                <!---->

                <!-- Blog -->
                <div class="panel" ng-show="panel.isSelected(2)">
                    <blog></blog>
                </div>
                <!---->

                <!-- About -->
                <div class="panel" ng-show="panel.isSelected(3)">
                    <about></about>
                </div>
                <!---->

                <!-- Contact -->
                <div class="panel" ng-show="panel.isSelected(4)">
                    <contact></contact>
                </div>
                <!---->

                <div>
                    <p class="pull-right"> Author:JZ</p>
                </div>
            </div>
        </div>
    </body>
</html>
